mixin openmodal(name, id)
    button.openmodal.dropdown-item(type="button", data-bs-toggle="modal",
        data-bs-target="#changeVars", modal-data=id)= name

form.cache-options
    .dropdown
        button.btn.dropdown-toggle(type="button", id="memoryOptions",
            data-bs-toggle="dropdown", aria-expanded="false")= `${lang['options']['memory']['title']}`
        .dropdown-menu(aria-labelledby="memoryOptions")
            +openmodal("Memory Start Address", "startAddress")
            +openmodal("Memory Size", "memorySize")
            +openmodal("Memory Max Value", "maxValue")
            +openmodal("Memory Word Size", "memoryWord")

    .dropdown.dropdown-hover
        button.btn.dropdown-toggle(type="button", id="cacheOptions",
            data-bs-toggle="dropdown", aria-expanded="false")= `${lang['options']['cache']['title']}`
        .dropdown-menu(aria-labelledby="cacheOptions")
            +openmodal("Cache number", "cacheNumber")
            +openmodal("Dirty bit", "dirty")
            +openmodal("Index bits", "indexBits")
            +openmodal("Offset bits", "offsetBits")
            +openmodal("Replacement Policy", "replacementPolicy")
            +openmodal("Cache associativity", "associativity")
            +openmodal("N-way associativity", "n_way")

.cache-view
    .col-md.memory-container.overflow-hidden
        .title-container
            h2.text-center= `${lang['tables']['cache1']}`
        .table-container
            .scrollable-table#cache1
                table.table
                    thead.text-center
                        tr
                            th(scope="col")= `${lang['tables']['cache']['valid']}`
                            th(scope="col")= `${lang['tables']['cache']['dirty']}`
                            th(scope="col")= `${lang['tables']['cache']['tag']}`
                    tbody

    .col-md.memory-container.overflow-hidden
        .title-container
            h2.text-center= `${lang['tables']['cache2']}`
        .table-container
            .scrollable-table#cache2
                table.table
                    thead.text-center
                        tr
                            th(scope="col")= `${lang['tables']['cache']['valid']}`
                            th(scope="col")= `${lang['tables']['cache']['dirty']}`
                            th(scope="col")= `${lang['tables']['cache']['tag']}`
                    tbody
    .col-md.memory-container.overflow-hidden
        .title-container
            h2.text-center= `${lang['tables']['cache3']}`
        .table-container
            .scrollable-table#cache3
                table.table
                    thead.text-center
                        tr
                            th(scope="col")= `${lang['tables']['cache']['valid']}`
                            th(scope="col")= `${lang['tables']['cache']['dirty']}`
                            th(scope="col")= `${lang['tables']['cache']['tag']}`
                    tbody
    .col-md.memory-container.overflow-hidden
        .title-container
            h2.text-center= `${lang['tables']['memory']['title']}`
        .table-container
            .scrollable-table#memory-table
                table.table
                    thead.text-center
                        tr
                            th(scope="col")= `${lang['tables']['memory']['address']}`
                            th(scope="col")= `${lang['tables']['memory']['value']}`
                    tbody
.cache-menu
    .cache-controls
        .item
            button#previous
                a.fa-solid.fa-backward
        .item#playpause
            button
                a.fa-solid.fa-play
        .item#next
            button
                a.fa-solid.fa-forward
    .cache-progress
        .progress(role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
            .progress-bar(id="progress-bar", style="width: 0%") 0%