.title-container
    h2.text-center= `${lang['access']['title']}`
    .scrollable-table(style="height: 68%;")
        table.table#memoryAccess
            thead.text-center(style="background-color: #3E885B;")
                th(scope=col)= `${lang['access']['r/w']}`
                th(scope=col)= `${lang['access']['address']}`
                th(scope=col)= `${lang['access']['value']}`
                th(scope=col)= `${lang['access']['hit']} / ${lang['access']['miss']}`
            tbody
.container.mt-3.stats.d-flex.flex-column.justify-content-center
    h3.text-center= `${lang['access']['stats']['title']}`
    .row.mx-1
        .col-sm.fw-bold Hits L1
        .col-sm-1#hit-l1 0
        .col-sm.fw-bold Hits L2
        .col-sm-1#hit-l2 0
        .col-sm.fw-bold Hits L3
        .col-sm-1#hit-l3 0
    .row.mx-1
        .col-sm.fw-bold Misses L1
        .col-sm-1#miss-l1 0
        .col-sm.fw-bold Misses L2
        .col-sm-1#miss-l2 0
        .col-sm.fw-bold Misses L3
        .col-sm-1#miss-l3 0
    .row.mx-1
        .col-sm.fw-bold Ratio L1
        .col-sm-1#ratio-l1 0
        .col-sm.fw-bold Ratio L2
        .col-sm-1#ratio-l2 0
        .col-sm.fw-bold Ratio L3
        .col-sm-1#ratio-l3 0
    .row.mx-1
        .col-sm.fw-bold CPI L1
        .col-sm-1#cpi-l1 0
        .col-sm.fw-bold CPI L2
        .col-sm-1#cpi-l2 0
        .col-sm.fw-bold CPI L3
        .col-sm-1#cpi-l3 0>
