.header
    nav.navbar.navbar-expand-lg.navbar-light
        .container-fluid
            a.navbar-brand= `${lang['navbar']['brand']}`
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbar",
                                  aria-controls="navbar", aria-expanded="false",
                                  aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbar
                ul.navbar-nav.ms-auto
                    li.nav-item.dropdown.me-2
                        a.nav-link.dropdown-toggle(id="language", role="button", data-bs-toggle="dropdown",
                                                   aria-expanded="false")= `${lang['language']['title']}`
                        ul.dropdown-menu.dropdown-menu-end(aria-labelledby="language")
                            li
                                a.dropdown-item(href='?lang=en-EU')= `${lang['language']['english']}`
                            li
                                a.dropdown-item(href='?lang=es-ES')= `${lang['language']['spanish']}`
                            li
                                a.dropdown-item(href='?lang=es-CA')= `${lang['language']['catalan']}`

